.search-form{
    width: 100%;
    max-width: 520px;
}
.search-form-elem{
    padding: 18px 46px;
    border-radius: 48px;
}
.search-form-elem .form-control{
    font-size: 16px;
    padding: 8px;
}
.search-form-elem .form-control::placeholder{
    opacity: 0.9;
}