.navbar{
    padding: 6px 0;
    background-color: #110F24;
}
.navbar-brand{
    width: 150px;
}
.navbar-brand span{
    margin-left: 32px;
    white-space: nowrap;
}
.brand-and-toggler{
    width: 100%;
}
.navbar-content{
    display: flex;
    width: 100%;
}
.navbar-toggle-button{
    transition: var(--transition);
    z-index: 11;
}
.navbar-collapse{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
    background-color:#f9c244 ;
    height: 100%;
    width: 280px;
    display: flex;
    padding: 160px 48px 0 48px;
    transform: translatex(100%);
    transition: var(--transition);
}
.show-navbar-collapse{
    transform: translateX(0);
}
.nav-item{
    margin-bottom: 1.8px;
}
.nav-link{
    transition: var(--transition);
}
.nav-link:hover{
    color:#f9c244;;
}

@media screen and (min-width: 992px){
    .navbar-collapse{
        position: relative;
        height: auto;
        padding: 0;
        width: 100%;
        background-color: transparent;
        transform: translateX(0);
        justify-content: flex-end;
    }
    .navbar-toggle-button{
        display: none;
    }
    .nav-item{
        margin-bottom: 0;
        margin-left: 36px;
    }
    .nav-link{
        color:#ffffff ;
        font-size: 18px;
        font-weight: 500!important;
        opacity: 0.8;
    }
    .navbar-nav{
        display: flex;
    }
}